Hello {{ username }}
Service {{ service_name }} version {{ version }} was saccessfuly installed
If you have any questions you can send e-mail to our support {{ email_support }}
Best regards development team.
